# to see the key binding list type:
# $ bind -p
# $ bind -p | grep -v -e "vi\|\(self-insert\)\|\(digit\)\|\(version\)"
# $ bind -p | grep "\C-z"

set completion-ignore-case on
set completion-map-case on

$if term=dumb

  # disable this setting when in emacs

$else

  set convert-meta on

  #"\C-h": backward-char
  #"\C-l": forward-char
  #"\C-j": nil
  #"\C-k": nil

  #"\C-f": kill-line
  #"\C-b": backward-delete-char

  #"\C-o": copy-region-as-kill

  #"\M-p": downcase-word

  "\M-n": next-history
  "\M-p": previous-history

  "\C-i": complete

  "\M-b": backward-word
  "\M-f": forward-word

  "\C-t": set-mark

  "\C-\M-p": history-search-backward
  "\C-\M-n": history-search-forward
  "\C-/": undo
  "\C-z": undo

$endif
